* {
    color: white;
}

.main {

    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    color: antiquewhite;
    display: flex;
    border: none;
    flex-direction: column;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borrowed-item {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px;
    width: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}